.cart {
  width: 80%;
  margin: auto;
}
.cart_myBag {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  color: #202124;
  padding: 40px 0;
}
.cart_body {
  /* display: grid;
  grid-template-columns: 2fr 75px 1fr; */
  display: flex;
  justify-content: space-between;
}
.cart_body_items {
  width: 800px;
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1.5fr 0.8fr;
  grid-template-rows: 35px auto;
}
.cart_body_items_header {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 16px;
  margin: 0;
  height: 35px;
  text-align: center;
}
.border_bot {
  border-bottom: 1px solid #acacac;
}
.text_align_left {
  text-align: left;
}
.text_align_right {
  text-align: right;
}
.cart_body_product {
  /* display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-column-gap: 5px; */
  display: flex;
  align-items: center;
  height: 130px;
}
.cart_body_product_img {
  /* align-self: center; */
  width: 110px;
  height: 110px;
  padding-right: 10px;
  background-image: url("../../images/item.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart_body_product_txt {
  /* align-self: center; */
  height: 110px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart_body_product_txt_top {
  font-family: Montserrat;
  font-size: 17px;
  color: #202124;
}
.cart_body_product_txt_bot {
  height: 25px;
  display: flex;
}
.cart_body_product_txt_bot_btn {
  font-family: Montserrat;
  font-size: 13px;
  background-color: transparent;
  border: none;
}
.cart_body_product_txt_bot_btn:hover {
  background-color: #fff5f0;
  border-radius: 20%;
}
.cart_body_product_txt_bot_dash {
  padding: 0 10px;
  margin: 0;
  font-family: Montserrat;
  font-size: 13px;
}
.cart_body_color {
  width: 30px;
  height: 30px;
  background-color: #a4624c;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}
.cart_body_item_size {
  font-family: Montserrat;
  font-size: 18px;
  align-self: center;
  justify-self: center;
}
.cart_body_quantity {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 108px;
  height: 42px;
  border: 1px solid #d4d3d3;
}
.cart_body_quantity_num {
  width: 13px;
  text-align: center;
}
.cart_body_quantity_minus,
.cart_body_quantity_plus {
  background-color: transparent;
  border: none;
  font-family: Montserat;
  font-size: 20px;
  font-weight: bold;
  width: 24px;
  height: 24px;
}
.cart_body_amount {
  align-self: center;
  justify-self: right;
  font-family: Montserrat;
  font-size: 19px;
}
.cart_body_total {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.cart_body_total_header {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 16px;
  margin: 0;
  height: 35px;
  text-align: left;
}
.cart_body_total_info {
  height: 130px;
  background-color: #f9f9f9;
  padding: 25px;
}
.cart_body_total_info_top {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
}
.cart_body_total_info_bot {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-weight: bold;
}
.cart_body_total_checkoutBtn {
  height: 55px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #ff5f6d;
  border: none;
}
