.cart {
  width: 80%;
  margin: auto;
}
.cart_myBag {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  color: #202124;
  padding: 40px 0;
}
.cart_container {
  display: flex;
}
.cart_body_left {
  margin-right: 80px;
  display: flex;
  flex-direction: column;
}
.cart_body_items {
  width: 800px;
  height: fit-content;
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1.5fr 0.8fr;
}
.cart_body_items_header {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 16px;
  margin: 0;
  height: 35px;
  text-align: center;
}
.border_bot {
  border-bottom: 1px solid #acacac;
}
.text_align_left {
  text-align: left;
}
.text_align_right {
  text-align: right;
}
.cart_body_product {
  display: flex;
  align-items: center;
  height: 130px;
}
.cart_body_quantity {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 108px;
  height: 42px;
  border: 1px solid #d4d3d3;
}
.cart_body_quantity_num {
  width: 13px;
  text-align: center;
}
.cart_body_quantity_minus,
.cart_body_quantity_plus {
  background-color: transparent;
  border: none;
  /* border-radius: %; */
  font-family: Montserat;
  font-size: 20px;
  font-weight: bold;
  width: 24px;
  height: 24px;
  cursor: pointer;
  /* outline: none;
  width: 50%; */
  vertical-align: middle;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cart_body_quantity_minus:hover,
.cart_body_quantity_plus:hover {
  background-color: #ececec;
}
.cart_body_quantity_minus:active,
.cart_body_quantity_plus:active {
  background-color: #e0e0e0;
}
.cart_body_total {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.cart_body_total_header {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 16px;
  margin: 0;
  height: 35px;
  text-align: left;
}
.cart_body_total_info {
  /* height: 130px; */
  background-color: #f9f9f9;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.cart_body_total_info_top {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
}
.cart_body_total_info_bot {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  font-weight: bold;
  margin-top: 10px;
}
.cart_body_total_checkoutBtn {
  margin-top: 30px;
  height: 55px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #ff5d6a;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cart_body_total_checkoutBtn:hover {
  background-color: #fa5462;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.cart_body_total_checkoutBtn:active {
  background-color: #fa4f5e;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
