.footer {
    display: flex;
    flex-direction: column;
    height: 185px;
    position: relative;
}
.footer__top {
    height: 121px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__menu {
    display: flex;
}
.footer__top__logo{
    width: fit-content;
}
.footer__top__menu {
    display: flex;
}
.footer__menu__item {
    font-family: Montserrat;
    font-size: 14px;
    color: #b7b7b7;
    height: 22px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
.footer__top__socmed {
    display: flex;
    justify-content: space-between;
    width: 110px;
}
.footer__midLine {
    width: 1180px;
    height: 0.8px;
    background-color: #dfdfdf;
    position: absolute;
    right: 170px;
    bottom: 84px;
}
.footer__bot {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__bot__left {
    display: flex;
    align-items: center;
}
.footer__bot__right {
    display: flex;
    align-items: center;
}