.item {
  background-color: white;
}
.item_container {
  width: 300px;
  display: flex;
  /* justify-content: space-between; */
  padding: 8px;
}
.item_img {
  width: 60px;
  height: 80px;
  background-image: url("../../../../../../images/item.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.item_info {
  margin-left: 8px;
  width: 210px;
  font-family: Montserrat;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item_info_top {
  font-weight: bold;
}
.item_info_bot {
  display: flex;
  justify-content: space-between;
  width: inherit;
}
.item_botline {
  border-bottom: 1px solid #ececec;
}
